################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/csharp/dbl.twins.sdk/.vs
/src/csharp/dbl.twins.sdk/bin/Debug/net6.0
/src/csharp/dbl.twins.sdk/obj
/src/csharp/dbl.twins.test/bin/Debug/net6.0
/src/csharp/dbl.twins.test/obj
/src/csharp/.vs/dbl.twins.sdk/v17
/src/csharp/.vs/dbl.twins.sdk/FileContentIndex
/.vs
/src/csharp/.vs
/tests/dbl.twins.test/bin/Debug/net6.0
/tests/dbl.twins.test/obj
/tests/csharp/dbl.twins.test/bin/Debug/net6.0
/tests/csharp/dbl.twins.test/obj
/src/csharp/dbl.twins.consumer/bin/Debug/net7.0
/src/csharp/dbl.twins.consumer/obj
/src/csharp/dbl.twins.sdk/bin/Debug/net7.0
/tests/csharp/dbl.twins.test/bin/Debug/net7.0
/src/csharp/dbl.twins.testclient/bin/Debug/net7.0
/src/csharp/dbl.twins.testclient/obj
/src/csharp/dbl.twins.sdk.core/bin/Debug/netstandard2.1
/src/csharp/dbl.twins.sdk.core/obj
/src/csharp/dbl.dts.unityplugin/bin
/src/csharp/dbl.dts.unityplugin/obj
/src/csharp/dbl.twins.sdk.core/bin/Release/netstandard2.1
/tests/csharp/dbl.twins.test/bin/Release/net7.0
/src/csharp/dbl.dts.unityplugin/Properties/PublishProfiles
/src/csharp/dbl.dts.unityplugin/dbl.dts.unityplugin.csproj.user
src/csharp/dbl.twins.testclient/bin/Release/net7.0

