################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/csharp/dbl.twins.sdk/.vs
/src/csharp/dbl.twins.sdk/bin/Debug/net6.0
/src/csharp/dbl.twins.sdk/obj
/src/csharp/dbl.twins.test/bin/Debug/net6.0
/src/csharp/dbl.twins.test/obj
/src/csharp/.vs/dbl.twins.sdk/v17
/src/csharp/.vs/dbl.twins.sdk/FileContentIndex
/.vs
/src/csharp/.vs
/tests/dbl.twins.test/bin/Debug/net6.0
/tests/dbl.twins.test/obj
